$sweet_corn: rgba(252, 227, 138, 0.9);
$froly: rgba(243, 129, 129, 0.9);
$img: url(../img/header_bg.png);
$active_link: #e2e095;
$white: #fff;
$logo_color: #fff;
$menu_nav_link_color: #fff;
$slider_nav_link_color:#e5f9fe;
$line: #f38181;
$block_text: #999999;
$fact_bg: #95e1d3;
$border_color: #b5eae0;
$title_color: #333333;
$description_color: #999999;
$services_hr: #e5e5e5;
$quote_bg: #f8f8f8;
$arrow_ic: url(../img/servdetails/arrow-down.png);
$quote_border: #95e1d3;
$header_bg: url(../img/header_bg.png);

// about images
$about_first_img: url(../img/gallery/team_bg.png);
$about_second_img: url(../img/gallery/team_bg1.png);
$about_third_img: url(../img/gallery/team_bg2.png);

// team images
$team_first_img: url(../img/team/matthew.png);
$team_second_img: url(../img/team/chris.png);
$team_third_img: url(../img/team/mich.png);

//feature images
$feature_bg: url(../img/feature/featurebg.png);
$feature_bg_color: rgba(255, 255, 255, 0.85);

//social
$social_main_bg: #fce38a;
$social_hover_bg: #f38181;
$social_separator: #f9bd87;

//review
$review_bg: url(../img/reviews/page_bg.png);
$review_bg_overlay: rgba(255, 255, 255, 0.85);

//map
$map_bg: url(../img/map/map_bg.png);

//footer
$footer_logo: #cccccc;
$email_border: #e7e7e7;

//work
$work_image_1: url(../img/works/1.png);
$work_image_2: url(../img/works/2.png);
$work_image_3: url(../img/works/3.png);
$work_image_4: url(../img/works/4.png);
$work_image_5: url(../img/works/5.png);
$work_image_6: url(../img/works/6.png);
$work_image_7: url(../img/works/7.png);