$first_img: url(../img/gallery/team_bg.png);
$second_img: url(../img/gallery/team_bg1.png);
$third_img: url(../img/gallery/team_bg2.png);

.block-header_about {
    margin-top: 90px;
}

.gallery_about {
    margin-top: 105px;
}

.gallery__link-first {
    background: url(../img/gallery/team_bg.png);
    &:hover {
        @include image_gradient(360deg, $sweet_corn, $froly, $first_img);
    }
}

.gallery__link-second {
    background: url(../img/gallery/team_bg1.png);
    &:hover {
        @include image_gradient(360deg, $sweet_corn, $froly, $second_img);
    }
}

.gallery__link-third {
    background: url(../img/gallery/team_bg2.png);
    &:hover {
        @include image_gradient(360deg, $sweet_corn, $froly, $third_img);
    }
}
