
.gallery {
    $blockClass: &;

    &__hover {
        display: none;
    }

    &__link {
        display: block;
        // width: 370px;
        height: 250px;
        background: url(../img/gallery/team_bg.png);

        &:hover {
            @include image_gradient(360deg, $sweet_corn, $froly, $img);
            box-shadow: 15px 15px 0px 0px rgba(114, 218, 220, 1);
            transform: translate(-15px, -15px);

            #{$blockClass}__hover {
                display: block;
                position: fixed;
                top: 50%;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
            }

            #{$blockClass}__name {
                font-family: $montserrat;
                font-size: 18px;
                font-weight: 700;
                color: $white;
                text-transform: uppercase;

            }

            #{$blockClass}__icon {
                display: block;
                margin: 0 auto;
            }
        }
    }
}